 body{
background-color: linen;

}
h1{
font-family: serif;
align-content: center;
 color: tomato;
 font-size: 40px;
}
img{
  
 vertical-align: baseline;
 width: 260px;
    height: 200px;
    padding-left: 5px;
    
 
 
 }
 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}